body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.truncate-cell-data {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-layout-fixed {
	table-layout:fixed;
}