body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.truncate-cell-data {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-layout-fixed {
	table-layout:fixed;
}

.wrap-text {
	word-wrap: break-word;
}

#annotation-board {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:10;
}

#annotation-signaller {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:11;
}

.annotation-table{
	width: 100%;
	height:100%;
	text-align: center;
	max-height: inherit;
}

.annotation-cell{
	background:yellow;
	opacity: 0.3;
}

.navigation-glyph {
	padding-left:10px;
	padding-right:10px;
	font-size:30px;
	color:rgb(51, 122, 183);
}